deepchem==2.6.0.dev20211018190358
joblib==1.2.0
opencv-contrib-python==4.7.0.72
pandas==0.23.4
pytorch-lightning==1.1.4
rdkit==2022.3.5
scikit-learn==0.22
scipy==1.7.3
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX
timm==0.6.11
tokenizers==0.13.1
torch-cluster==1.5.9
torch-geometric==1.7.2
torch-scatter==2.0.8
torch-sparse==0.6.9
torchmetrics==0.10.2
tqdm==4.64.1
transformers==4.23.1
